.column {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    border: solid;
    height: 40px;
    width: 40px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 10px;
}

button {
    padding: 15px;
    font-weight: bold;
    background-color: rgb(147, 196, 246);
    border-radius: 5px;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}